@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background: white;
    background-image: url("./images/Colored-Shapes.svg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.container{
    width: 85%;
    max-width: 1500px;
    height: auto;
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-desktop.png);
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-text{
    margin: 30% auto;
    color: white;
}

.container-text h1{
    margin: auto 20% 20px 15%;
    font-size: 2.5rem;
}

.container-text h3{
    font-weight: 400;
    margin: auto 15% auto;
    font-size: 1rem;
}

#btn-try-it{
    display: inline-block;
    margin-top: 4.5rem;
    border: none;
    background:hsl(248, 32%, 49%);
    color: white;
    font-weight: 400;
    padding:  10px 20px;
    border-radius: 5px;
    margin-right: 20%;
    width: calc(80% - 40px);
    height: auto;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 2px 0 hsla(249, 10%, 26%, 0.815);
}


form{
    background: white;
    margin: 30px 20% 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 2px 0 hsl(249, 10%, 26%, 0.815);
}

.input-container{
    position: relative;
    width: 85%;
    margin: 25px auto;
}

.input-data{
    width: calc(100% - 5px);
    height: 45px;
    font-weight: 600;
    border: 2px solid hsl(246, 25%, 77%);
    border-radius: 3px;
    padding-left: 5px;
}

.icon-error{
    position: absolute;
    right: 5px;
    top: 20%;
}

.error-msg{
    font-style: italic;
    color: hsl(0, 100%, 74%);
    text-align: right;
    font-weight: 600;
    width: 100%;
}

#claim{
    display: block;
    border: none;
    font-weight: 600;
    color: white;
    background-color: hsl(154, 59%, 51%);
    text-align: center;
    width: calc(85% + 2px);
    height: 50px;
    margin: 10px auto;
}

#claim:hover{
    opacity: 0.9;
    cursor: pointer;
}

form p, form a{
    font-size: .6rem;
}

form .terms{
    text-align: center;
    color: hsl(246, 25%, 77%);
    margin: auto 15%;
}

form a{
    font-weight: 600;
    color: hsl(0, 100%, 74%) ;
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}

footer{
    margin: 40px 10px 0;
    background: white;
}

.attribution{
    font-size: .8rem;
    text-align: center;
}

.attribution a{
    color: black;
}

.visible{
    display: none;
}

.error-border-color{
    color: hsl(0, 100%, 74%);
    border: 1px solid hsl(0, 100%, 74%);
}


/********** Media queries  **************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html{
        font-size: 12px;
    }

    .container{
        margin: 0;
        width: 100%;
    }

    .container-text, .container-form{
        grid-column: 1/-1;
        margin: 10px 0;
    }
    
    .container-text h1{
        text-align: center;
        margin: 50px 5% 20px 5%;
    }
    
    .container-text h3{
        text-align: center;
        margin: auto 5% auto;
    }

    #btn-try-it, form{
        margin: 20px 10%;
    }

    #btn-try-it{
        padding-top: 20px;
        font-size: 1.1rem;
        height: 40px;
    }

    #claim{
        font-size: .9rem;
    }

    footer{
        margin: 0;
        background: hsl(0, 100%, 74%);
        color: white;
    }
    
    .attribution{
        font-size: .8rem;
        text-align: center;
    }
    
    .attribution a{
        color: white;
    }
}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {
    html {
        font-size: 14px;
    }

    .container{
        margin: 0;
        width: 100%;
    }

    .container-text, .container-form{
        grid-column: 1/-1;
        margin: 10px 0;
    }
    
    .container-text h1{
        text-align: center;
        margin: 50px 5% 20px 5%;
    }
    
    .container-text h3{
        text-align: center;
        margin: auto 5% auto;
    }

    #btn-try-it, form{
        margin: 20px 10%;
    }

    footer{
        margin: 0;
        background: hsl(0, 100%, 74%);
        color: white;
    }

    .attribution a{
        color: white;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
   
    .container{
        width: 95%;
        margin: auto;
    }

    .container-text, .container-form{
        grid-column: span 1;
        margin: 10px 0;
    }

    .container-text{
        margin: 30% auto;
    }
    
    footer{
        margin: 40px 10px 0;
        background: white;
        color: black;
    }

    .attribution a{
        color: black;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html{
        font-size: 16px;
    }

    .container{
        width: 85%;
    }

    .container-text h1{
        text-align: left;
        margin: auto 20% 20px 15%;
    }
    
    .container-text h3{
        text-align: left;
        font-weight: 400;
        margin: auto 15% auto;
    }
}